---
parse:
  title: "Legacy:Dma/MutMultiJumpConfig"
  text:
    text: "<ul>\n<li>See also <a href=\"/Legacy:Dma/MutMultiJump\" title=\"Legacy:Dma/MutMultiJump\"\
      >dma/MutMultiJump</a></li>\n</ul>\n<h2><span class=\"mw-headline\" id=\"Output\"\
      >Output</span><span class=\"mw-editsection\"><span class=\"mw-editsection-bracket\"\
      >[</span><a href=\"/edit/Legacy:Dma/MutMultiJumpConfig?section=1\" title=\"\
      Edit section: Output\">edit</a><span class=\"mw-editsection-bracket\">]</span></span></h2>\n\
      <p><a rel=\"nofollow\" class=\"external free\" href=\"http://www.coe.uncc.edu/~danderse/www/mjump-gui.gif\"\
      >http://www.coe.uncc.edu/~danderse/www/mjump-gui.gif</a></p>\n<ul>\n<li><a rel=\"\
      nofollow\" class=\"external free\" href=\"http://www.coe.uncc.edu/~danderse/www/MultiJump-DMA3.zip\"\
      >http://www.coe.uncc.edu/~danderse/www/MultiJump-DMA3.zip</a></li>\n</ul>\n\
      <h2><span class=\"mw-headline\" id=\"Source\">Source</span><span class=\"mw-editsection\"\
      ><span class=\"mw-editsection-bracket\">[</span><a href=\"/edit/Legacy:Dma/MutMultiJumpConfig?section=2\"\
      \ title=\"Edit section: Source\">edit</a><span class=\"mw-editsection-bracket\"\
      >]</span></span></h2>\n<div dir=\"ltr\" class=\"mw-geshi mw-code mw-content-ltr\"\
      >\n<div class=\"uscript source-uscript\">\n<pre class=\"de1\"><span class=\"\
      co1\">//=============================================================================</span>\n\
      <span class=\"co1\">// MutMultiJumpConfig - Configuation page for MultiJump</span>\n\
      <span class=\"co1\">//=============================================================================</span>\n\
      <span class=\"kw1\">class</span> MutMultiJumpConfig <span class=\"kw1\">extends</span>\
      \ GUIPage;\n \n<span class=\"kw1\">function</span> InitComponent<span class=\"\
      br0\">(</span>GUIController MyController, GUIComponent MyOwner<span class=\"\
      br0\">)</span>\n<span class=\"br0\">{</span>\n   <span class=\"co1\">// I could\
      \ probably bypass this by using the IniOption properties of these controls.</span>\n\
      \ \n   <span class=\"kw6\">Super</span>.<span class=\"me0\">InitComponent</span><span\
      \ class=\"br0\">(</span>MyController, MyOwner<span class=\"br0\">)</span>;\n\
      \ \n   moNumericEdit<span class=\"br0\">(</span>Controls<span class=\"br0\"\
      >[</span><span class=\"nu0\">2</span><span class=\"br0\">]</span><span class=\"\
      br0\">)</span>.<span class=\"me0\">SetValue</span><span class=\"br0\">(</span><span\
      \ class=\"kw1\">class</span><span class=\"st0\">'MutMultiJump'</span>.<span\
      \ class=\"kw1\">default</span>.<span class=\"me0\">MaxMultiJumpCount</span><span\
      \ class=\"br0\">)</span>;\n   moNumericEdit<span class=\"br0\">(</span>Controls<span\
      \ class=\"br0\">[</span><span class=\"nu0\">3</span><span class=\"br0\">]</span><span\
      \ class=\"br0\">)</span>.<span class=\"me0\">SetValue</span><span class=\"br0\"\
      >(</span><span class=\"kw1\">class</span><span class=\"st0\">'MutMultiJump'</span>.<span\
      \ class=\"kw1\">default</span>.<span class=\"me0\">MultiJumpBoost</span><span\
      \ class=\"br0\">)</span>;\n \n   <span class=\"kw2\">return</span>;\n<span class=\"\
      br0\">}</span>\n \n<span class=\"kw1\">function</span> <span class=\"kw5\">bool</span>\
      \ SaveAndClose<span class=\"br0\">(</span>GUIComponent Sender<span class=\"\
      br0\">)</span>\n<span class=\"br0\">{</span>\n   <span class=\"kw1\">class</span><span\
      \ class=\"st0\">'MutMultiJump'</span>.<span class=\"kw1\">default</span>.<span\
      \ class=\"me0\">MaxMultiJumpCount</span> <span class=\"sy0\">=</span> moNumericEdit<span\
      \ class=\"br0\">(</span>Controls<span class=\"br0\">[</span><span class=\"nu0\"\
      >2</span><span class=\"br0\">]</span><span class=\"br0\">)</span>.<span class=\"\
      me0\">GetValue</span><span class=\"br0\">(</span><span class=\"br0\">)</span>;\n\
      \   <span class=\"kw1\">class</span><span class=\"st0\">'MutMultiJump'</span>.<span\
      \ class=\"kw1\">default</span>.<span class=\"me0\">MultiJumpBoost</span> <span\
      \ class=\"sy0\">=</span> moNumericEdit<span class=\"br0\">(</span>Controls<span\
      \ class=\"br0\">[</span><span class=\"nu0\">3</span><span class=\"br0\">]</span><span\
      \ class=\"br0\">)</span>.<span class=\"me0\">GetValue</span><span class=\"br0\"\
      >(</span><span class=\"br0\">)</span>;\n   <span class=\"kw1\">class</span><span\
      \ class=\"st0\">'MutMultiJump'</span>.<span class=\"kw1\">static</span>.<span\
      \ class=\"kw3\">StaticSaveConfig</span><span class=\"br0\">(</span><span class=\"\
      br0\">)</span>;\n \n   <span class=\"kw9\">Controller</span>.<span class=\"\
      me0\">CloseMenu</span><span class=\"br0\">(</span><span class=\"kw6\">false</span><span\
      \ class=\"br0\">)</span>;\n \n   <span class=\"kw2\">return</span> <span class=\"\
      kw6\">true</span>;\n<span class=\"br0\">}</span>\n \n<span class=\"kw1\">defaultproperties</span>\n\
      <span class=\"br0\">{</span>\n   <span class=\"kw2\">Begin</span> <span class=\"\
      kw8\">Object</span> <span class=\"kw1\">Class</span><span class=\"sy0\">=</span>GUIButton\
      \ <span class=\"kw5\">name</span><span class=\"sy0\">=</span>DialogBackground\n\
      \      WinWidth<span class=\"sy0\">=</span><span class=\"nu0\">0.70</span>\n\
      \      WinHeight<span class=\"sy0\">=</span><span class=\"nu0\">0.85</span>\n\
      \      WinTop<span class=\"sy0\">=</span><span class=\"nu0\">0.0</span>\n  \
      \    WinLeft<span class=\"sy0\">=</span><span class=\"nu0\">0.15</span>\n  \
      \    bAcceptsInput<span class=\"sy0\">=</span><span class=\"kw6\">false</span>\n\
      \      bNeverFocus<span class=\"sy0\">=</span><span class=\"kw6\">true</span>\n\
      \      StyleName<span class=\"sy0\">=</span><span class=\"st0\">\"ComboListBox\"\
      </span>\n      bBoundToParent<span class=\"sy0\">=</span><span class=\"kw6\"\
      >true</span>\n      bScaleToParent<span class=\"sy0\">=</span><span class=\"\
      kw6\">true</span>\n   End <span class=\"kw8\">Object</span>\n   Controls<span\
      \ class=\"br0\">(</span><span class=\"nu0\">0</span><span class=\"br0\">)</span><span\
      \ class=\"sy0\">=</span>GUIButton<span class=\"st0\">'DialogBackground'</span>\n\
      \ \n   <span class=\"kw2\">Begin</span> <span class=\"kw8\">Object</span> <span\
      \ class=\"kw1\">class</span><span class=\"sy0\">=</span>GUILabel <span class=\"\
      kw5\">Name</span><span class=\"sy0\">=</span>MutMultiJumpHeader\n      Caption<span\
      \ class=\"sy0\">=</span><span class=\"st0\">\"Multiple Jumping!\"</span>\n \
      \     TextALign<span class=\"sy0\">=</span>TXTA_Center\n      TextColor<span\
      \ class=\"sy0\">=</span><span class=\"br0\">(</span>R<span class=\"sy0\">=</span><span\
      \ class=\"nu0\">230</span>,G<span class=\"sy0\">=</span><span class=\"nu0\"\
      >200</span>,B<span class=\"sy0\">=</span><span class=\"nu0\">0</span>,A<span\
      \ class=\"sy0\">=</span><span class=\"nu0\">255</span><span class=\"br0\">)</span>\n\
      \      TextFont<span class=\"sy0\">=</span><span class=\"st0\">\"UT2HeaderFont\"\
      </span>\n      WinWidth<span class=\"sy0\">=</span><span class=\"nu0\">1</span>\n\
      \      WinLeft<span class=\"sy0\">=</span><span class=\"nu0\">0</span>\n   \
      \   WinTop<span class=\"sy0\">=</span><span class=\"nu0\">0.35</span>\n    \
      \  WinHeight<span class=\"sy0\">=</span><span class=\"nu0\">32</span>\n   End\
      \ <span class=\"kw8\">Object</span>\n   Controls<span class=\"br0\">(</span><span\
      \ class=\"nu0\">1</span><span class=\"br0\">)</span><span class=\"sy0\">=</span>GUILabel<span\
      \ class=\"st0\">'MutMultiJumpHeader'</span>\n \n \n   <span class=\"kw2\">Begin</span>\
      \ <span class=\"kw8\">Object</span> <span class=\"kw1\">class</span><span class=\"\
      sy0\">=</span>moNumericEdit <span class=\"kw5\">Name</span><span class=\"sy0\"\
      >=</span>MutMultiJumpCount\n      WinWidth<span class=\"sy0\">=</span><span\
      \ class=\"nu0\">0.450000</span>\n      WinHeight<span class=\"sy0\">=</span><span\
      \ class=\"nu0\">0.060000</span>\n      WinLeft<span class=\"sy0\">=</span><span\
      \ class=\"nu0\">0.325</span>\n      WinTop<span class=\"sy0\">=</span><span\
      \ class=\"nu0\">0.43</span>\n      Caption<span class=\"sy0\">=</span><span\
      \ class=\"st0\">\"Number of Jumps\"</span>\n      Hint<span class=\"sy0\">=</span><span\
      \ class=\"st0\">\"How many multijumps should players be allowed?\"</span>\n\
      \      CaptionWidth<span class=\"sy0\">=</span><span class=\"nu0\">0.5</span>\n\
      \      ComponentWidth<span class=\"sy0\">=</span><span class=\"nu0\">0.55</span>\n\
      \      MinValue<span class=\"sy0\">=</span><span class=\"nu0\">0</span>\n  \
      \    MaxValue<span class=\"sy0\">=</span><span class=\"nu0\">1000000</span>\n\
      \      <span class=\"co1\">// IniOption=\"ini:MultiJump.MutMultiJump.MaxMultiJumpCount\"\
      </span>\n   End <span class=\"kw8\">Object</span>\n   Controls<span class=\"\
      br0\">(</span><span class=\"nu0\">2</span><span class=\"br0\">)</span><span\
      \ class=\"sy0\">=</span>moNumericEdit<span class=\"st0\">'MutMultiJumpCount'</span>\n\
      \ \n   <span class=\"kw2\">Begin</span> <span class=\"kw8\">Object</span> <span\
      \ class=\"kw1\">class</span><span class=\"sy0\">=</span>moNumericEdit <span\
      \ class=\"kw5\">Name</span><span class=\"sy0\">=</span>MutMultiJumpBoost\n \
      \     WinWidth<span class=\"sy0\">=</span><span class=\"nu0\">0.450000</span>\n\
      \      WinHeight<span class=\"sy0\">=</span><span class=\"nu0\">0.060000</span>\n\
      \      WinLeft<span class=\"sy0\">=</span><span class=\"nu0\">0.325</span>\n\
      \      WinTop<span class=\"sy0\">=</span><span class=\"nu0\">0.50</span>\n \
      \     Caption<span class=\"sy0\">=</span><span class=\"st0\">\"Boost Amount\"\
      </span>\n      Hint<span class=\"sy0\">=</span><span class=\"st0\">\"How high\
      \ should each multijump boost the player?\"</span>\n      CaptionWidth<span\
      \ class=\"sy0\">=</span><span class=\"nu0\">0.5</span>\n      ComponentWidth<span\
      \ class=\"sy0\">=</span><span class=\"nu0\">0.55</span>\n      MinValue<span\
      \ class=\"sy0\">=</span><span class=\"nu0\">0</span>\n      MaxValue<span class=\"\
      sy0\">=</span><span class=\"nu0\">1000000</span>\n      <span class=\"co1\"\
      >// IniOption=\"ini:MultiJump.MutMultiJump.MultiJumpBoost\"</span>\n   End <span\
      \ class=\"kw8\">Object</span>\n   Controls<span class=\"br0\">(</span><span\
      \ class=\"nu0\">3</span><span class=\"br0\">)</span><span class=\"sy0\">=</span>moNumericEdit<span\
      \ class=\"st0\">'MutMultiJumpBoost'</span>\n \n   <span class=\"kw2\">Begin</span>\
      \ <span class=\"kw8\">Object</span> <span class=\"kw1\">Class</span><span class=\"\
      sy0\">=</span>GUIButton <span class=\"kw5\">Name</span><span class=\"sy0\">=</span>MutMultiJumpOkButton\n\
      \      WinLeft<span class=\"sy0\">=</span><span class=\"nu0\">0.40</span>\n\
      \      WinTop<span class=\"sy0\">=</span><span class=\"nu0\">0.60</span>\n \
      \     WinWidth<span class=\"sy0\">=</span><span class=\"nu0\">0.20</span>\n\
      \      WinHeight<span class=\"sy0\">=</span><span class=\"nu0\">0.06</span>\n\
      \      OnClick<span class=\"sy0\">=</span>SaveAndClose\n      Caption<span class=\"\
      sy0\">=</span><span class=\"st0\">\"OK\"</span>\n   End <span class=\"kw8\"\
      >Object</span>\n   Controls<span class=\"br0\">(</span><span class=\"nu0\">4</span><span\
      \ class=\"br0\">)</span><span class=\"sy0\">=</span>GUIButton<span class=\"\
      st0\">'MutMultiJumpOkButton'</span>\n \n   WinTop<span class=\"sy0\">=</span><span\
      \ class=\"nu0\">0.300000</span>\n   WinLeft<span class=\"sy0\">=</span><span\
      \ class=\"nu0\">0.200000</span>\n   WinWidth<span class=\"sy0\">=</span><span\
      \ class=\"nu0\">0.600000</span>\n   WinHeight<span class=\"sy0\">=</span><span\
      \ class=\"nu0\">0.470000</span>\n<span class=\"br0\">}</span></pre></div>\n\
      </div>\n\n<!-- \nNewPP limit report\nCPU time usage: 0.054 seconds\nReal time\
      \ usage: 0.066 seconds\nPreprocessor visited node count: 11/1000000\nPreprocessor\
      \ generated node count: 40/1000000\nPostâ€expand include size: 22/2097152 bytes\n\
      Template argument size: 0/2097152 bytes\nHighest expansion depth: 2/40\nExpensive\
      \ parser function count: 0/100\n-->\n\n<!-- \nTransclusion expansion time report\
      \ (%,ms,calls,template)\n100.00%    0.000      1 - -total\n-->\n\n<!-- Saved\
      \ in parser cache with key wiki:pcache:idhash:975-0!*!0!!*!*!* and timestamp\
      \ 20221120194327 and revision id 2636\n -->\n"
  categories:
  - sortkey: "Dma/MutMultiJumpConfig"
    name: "Legacy_Custom_Class_(UT2003)"
  links:
  - ns: 100
    exists: true
    name: "Legacy:Dma/MutMultiJump"
  templates: []
  images: []
  externallinks:
  - "http://www.coe.uncc.edu/~danderse/www/MultiJump-DMA3.zip"
  - "http://www.coe.uncc.edu/~danderse/www/mjump-gui.gif"
  sections:
  - toclevel: 1
    level: "2"
    line: "Output"
    number: "1"
    index: "1"
    fromtitle: "Legacy:Dma/MutMultiJumpConfig"
    byteoffset: 57
    anchor: "Output"
  - toclevel: 1
    level: "2"
    line: "Source"
    number: "2"
    index: "2"
    fromtitle: "Legacy:Dma/MutMultiJumpConfig"
    byteoffset: 182
    anchor: "Source"
  displaytitle: "Legacy:Dma/MutMultiJumpConfig"
  iwlinks: []
  wikitext:
    text: "* See also [[Legacy:Dma/MutMultiJump|dma/MutMultiJump]]\n\n==Output ==\n\
      \nhttp://www.coe.uncc.edu/~danderse/www/mjump-gui.gif\n* http://www.coe.uncc.edu/~danderse/www/MultiJump-DMA3.zip\n\
      \n==Source ==\n\n<uscript>\n//=============================================================================\n\
      // MutMultiJumpConfig - Configuation page for MultiJump\n//=============================================================================\n\
      class MutMultiJumpConfig extends GUIPage;\n\nfunction InitComponent(GUIController\
      \ MyController, GUIComponent MyOwner)\n{\n   // I could probably bypass this\
      \ by using the IniOption properties of these controls.\n\n   Super.InitComponent(MyController,\
      \ MyOwner);\n\n   moNumericEdit(Controls[2]).SetValue(class'MutMultiJump'.default.MaxMultiJumpCount);\n\
      \   moNumericEdit(Controls[3]).SetValue(class'MutMultiJump'.default.MultiJumpBoost);\n\
      \n   return;\n}\n\nfunction bool SaveAndClose(GUIComponent Sender)\n{\n   class'MutMultiJump'.default.MaxMultiJumpCount\
      \ = moNumericEdit(Controls[2]).GetValue();\n   class'MutMultiJump'.default.MultiJumpBoost\
      \ = moNumericEdit(Controls[3]).GetValue();\n   class'MutMultiJump'.static.StaticSaveConfig();\n\
      \n   Controller.CloseMenu(false);\n\n   return true;\n}\n\ndefaultproperties\n\
      {\n   Begin Object Class=GUIButton name=DialogBackground\n      WinWidth=0.70\n\
      \      WinHeight=0.85\n      WinTop=0.0\n      WinLeft=0.15\n      bAcceptsInput=false\n\
      \      bNeverFocus=true\n      StyleName=\"ComboListBox\"\n      bBoundToParent=true\n\
      \      bScaleToParent=true\n   End Object\n   Controls(0)=GUIButton'DialogBackground'\n\
      \n   Begin Object class=GUILabel Name=MutMultiJumpHeader\n      Caption=\"Multiple\
      \ Jumping!\"\n      TextALign=TXTA_Center\n      TextColor=(R=230,G=200,B=0,A=255)\n\
      \      TextFont=\"UT2HeaderFont\"\n      WinWidth=1\n      WinLeft=0\n     \
      \ WinTop=0.35\n      WinHeight=32\n   End Object\n   Controls(1)=GUILabel'MutMultiJumpHeader'\n\
      \n\n   Begin Object class=moNumericEdit Name=MutMultiJumpCount\n      WinWidth=0.450000\n\
      \      WinHeight=0.060000\n      WinLeft=0.325\n      WinTop=0.43\n      Caption=\"\
      Number of Jumps\"\n      Hint=\"How many multijumps should players be allowed?\"\
      \n      CaptionWidth=0.5\n      ComponentWidth=0.55\n      MinValue=0\n    \
      \  MaxValue=1000000\n      // IniOption=\"ini:MultiJump.MutMultiJump.MaxMultiJumpCount\"\
      \n   End Object\n   Controls(2)=moNumericEdit'MutMultiJumpCount'\n\n   Begin\
      \ Object class=moNumericEdit Name=MutMultiJumpBoost\n      WinWidth=0.450000\n\
      \      WinHeight=0.060000\n      WinLeft=0.325\n      WinTop=0.50\n      Caption=\"\
      Boost Amount\"\n      Hint=\"How high should each multijump boost the player?\"\
      \n      CaptionWidth=0.5\n      ComponentWidth=0.55\n      MinValue=0\n    \
      \  MaxValue=1000000\n      // IniOption=\"ini:MultiJump.MutMultiJump.MultiJumpBoost\"\
      \n   End Object\n   Controls(3)=moNumericEdit'MutMultiJumpBoost'\n\n   Begin\
      \ Object Class=GUIButton Name=MutMultiJumpOkButton\n      WinLeft=0.40\n   \
      \   WinTop=0.60\n      WinWidth=0.20\n      WinHeight=0.06\n      OnClick=SaveAndClose\n\
      \      Caption=\"OK\"\n   End Object\n   Controls(4)=GUIButton'MutMultiJumpOkButton'\n\
      \n   WinTop=0.300000\n   WinLeft=0.200000\n   WinWidth=0.600000\n   WinHeight=0.470000\n\
      }\n\n</uscript>\n[[Category:Legacy Custom Class (UT2003)|{{PAGENAME}}]]"
  properties: []
  revId: 2636
name: "Legacy:Dma/MutMultiJumpConfig"
revision:
  revid: 2636
  parentid: 2637
  user: "Sweavo"
  timestamp: 1195471786.000000000
  comment: "*"
timestamp: 1668975834.266266000
